.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.venv/
venv
.git/
.envs/
frontend/node_modules
node_modules

db.sqlite3
.ruff_cache/
.ipython/
