{% load i18n %}

{% if is_dropdown %}
  <li><a class="dropdown-item" href="{% url 'users:list' %}">🧑‍🤝‍🧑 {% trans "All Users" %}</a></li>
  <li><a class="dropdown-item{% if request.resolver_match.url_name == 'about' %} active{% endif %}" href="{% url 'core:about' %}">ℹ️ {% trans "About Us" %}</a></li>
{% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:list' %}">🧑‍🤝‍🧑 {% trans "All Users" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'about' %} active{% endif %}" href="{% url 'core:about' %}">ℹ️ {% trans "About Us" %}</a>
  </li>
{% endif %}