{% load i18n %}

{% if is_mobile %}
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.app_name == 'items' %} active{% endif %}"
       href="{% url 'items:list' %}">🧺 {% trans "Dinge" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.app_name == 'rooms' %} active{% endif %}"
       href="{% url 'rooms:list' %}">🛋️ {% trans "Rooms" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'list' and request.resolver_match.app_name == 'users' %} active{% endif %}"
       href="{% url 'users:list' %}">👥 {% trans "Community" %}</a>
  </li>
{% else %}
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.app_name == 'items' %} active{% endif %}"
       href="{% url 'items:list' %}">🧺 {% trans "Dinge" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.app_name == 'rooms' %} active{% endif %}"
       href="{% url 'rooms:list' %}">🛋️ {% trans "Rooms" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'list' and request.resolver_match.app_name == 'users' %} active{% endif %}"
       href="{% url 'users:list' %}">👥 {% trans "Community" %}</a>
  </li>
{% endif %}
{% include 'includes/nav_user_items.html' %}
