{% extends "items/item_form.html" %}
{% load i18n %}

{% block page_title %}
{% if object %}
    {% trans "Edit item" %}
{% else %}
    {% trans "Create item" %}
{% endif %}
{% endblock page_title %}

{% block breadcrumb %}
<nav aria-label="{% trans 'Breadcrumb' %}">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:home' %}">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'items:list' %}">{% trans "Items" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {% if object %}
                {% trans "Edit" %}
            {% else %}
                {% trans "Create" %}
            {% endif %}
        </li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block form_title %}
{% if object %}
    {% trans "Edit item" %}
{% else %}
    {% trans "Create new item" %}
{% endif %}
{% endblock form_title %}

{% block custom_fields %}
<!-- No custom fields -->
{% endblock custom_fields %}
